<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCsrwJMQ4d88tfKYYGuDfLXM7odIO4W7E</string>
	<key>GCM_SENDER_ID</key>
	<string>988380567626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fortech.cardoc</string>
	<key>PROJECT_ID</key>
	<string>car-doc-1666e</string>
	<key>STORAGE_BUCKET</key>
	<string>car-doc-1666e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988380567626:ios:1edc111ac754a72389aeb3</string>
</dict>
</plist>